BOSSFIND_HOST=127.0.0.1
BOSSFIND_PORT=8000
BOSSFIND_DATABASE=data/bossfind.db
BOSSFIND_CREDENTIAL_TTL_MINUTES=30
BOSSFIND_HEADLESS=false
BOSSFIND_TARGET_URL=https://www.zhipin.com/jiaxing/?seoRefer=index
BOSSFIND_BROWSER_CDP_URL=http://127.0.0.1:9222
